
@{
    ViewBag.Title = "SPTheochude";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="Text-align:Center; color:red"> NỘI THẤT THEO LOẠI </h3>
<div class="row">
    @foreach (var noithat in Model)
    {
        <div class="col-sm-4 col-1g-4 col-md-4">
            <div class="thumbnail">
                <a href="@Url.Action("Details", "NTStore", new { id = noithat.MaNOITHAT})">
                    <img alt="@noithat.TenNOITHAT" src="/Hinhsanpham/@noithat.Anhbia" width="200" />
                </a>
                <div>
                    <br />
                    <h4 style="text-align:center">
                        @noithat.TenNOITHAT
                    </h4>
                    <p></p>
                </div>
                <div class="ratings">
                    <p class="pull-right">15 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>
        </div>
    }

</div>
