
@{
    ViewBag.Title = "Xacnhandonhangonl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="font-size:16px">
    Vui lòng thanh toán qua <a href="https://me.momo.vn/vjIyudUvt2sAF6IxUpt7?fbclid=IwAR3lbqEmqWlJX0xKwzgEh6AXjt3uoZDj766_TnHqzkpTq8I2Dg5fUV3G3Oo">Momo</a><hr />
    Kèm nội dung: Tên + SĐT :D ??

</h2>

<p>
    @Html.ActionLink("VỀ TRANG CHỦ", "Index", "NTStore")
</p>

